<h1>{{title}}</h1>

<table>
    <tr>
        <td>STUID</td>
        <td>Spw</td>
        <td>Sno</td>
        <td>Name</td>
        <td>Email</td>
        <td>phone Number</td>
        <td>Major</td>
        <td>CLUB ID</td>
    </tr>
        {{#each student}}
        <form method="get">
    <tr>
        <td>{{STUID}}</td>
        <td>{{SPW}}</td>
        <td>{{SNO}}</td>
        <td>{{SNAME}}</td>
        <td>{{SEMAIL}}</td>
        <td>{{SPHNUM}}</td>
        <td>{{MAJOR}}</td>
        <td>{{CLUB_ID}}</td>
    </tr>
        </form>
        {{/each}}
</table>