<h1>{{title}}</h1>

<table>
    <tr>
        <td>Sno</td>
        <td>SNAME</td>
        <td>CID</td>
        <td>CNAME</td>
    </tr>
    {{#each part_in}}
    <form method="post" action="/delete">
        <tr>
            <td>{{SNO}}</td>
            <td>{{SNAME}}</td>
            <td>{{CID}}</td>
            <td>{{CNAME}}</td>
            <td style="border: none; margin-left: 10px;">
                <button style="margin-left: 10px;" name="delBtn" value="{{STUID}}">
                    삭제
                </button>
            </td>
        </tr>
    </form>
    {{/each}}
</table>