<!--
 Copyright 2022 kms
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<head>
  <link rel="stylesheet" type="text/css" href="select.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <script>
    const logout = () => {window.location.href="http://localhost:3000/logout"};
    const move = () => {window.location.href="http://localhost:3000/sugang"};
  </script>
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img
        src="./img/inhaLogo.png"
        alt="INHA UNIVERSITY"
      /></div>
    <span class="logo-text">수강신청</span>
  </div>

  <div class="header-info">
    <span class="header-info_title">2021 교육과정 개편 관련 경과조치 안내 (<span
        class="header-info_title_strong"
      >2020 이전 학번 필수 참조</span>) -> 자세히보기</span>
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="side-frame">
      <div class="side-frame_id">
        <div class="userinfo">{{user}}</div>
        <button class="logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <div class="side-menu">
      <div class="side-menu_list">
        <span>수강안내</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>강의진단</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list" onclick="move()">
        <span>수강신청</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>성적확인</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>계절학기</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>교과조회</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>참고 Link</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>개인정보처리방침</span>
        <span class="material-icons">add</span>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <span class="main-top_title">2022학년 2학기 수강신청</span>
      <div class="main-top_table">
        {{! TODO }}
        {{! Database에서 class 데이터를 가져와서 테이블로 보여주기 }}
        <h1>{{title}}</h1>
        <table>
          <tr style="background-color: #0770bb;">
            <td class="main-top_table_head_first">과목코드</td>
            <td class="main-top_table_head_second">과목명</td>
            <td class="main-top_table_head_third">교수명</td>
            <td class="main-top_table_head_fourth">강의실</td>
            <td class="main-top_table_head_fifth">여석</td>
            <td></td>
          </tr>
          {{#each classInfo}}
          <form action="/" method="post"></form>
          <tr>
            <td class="main-top_table_body_first">{{CID}}</td>
            <td class="main-top_table_body_second">{{CNAME}}</td>
            <td class="main-top_table_body_third">{{EMPNAME}}</td>
            <td class="main-top_table_body_fourth">{{C_DNO}}-{{C_RNO}}</td>
            <td class="main-top_table_body_fifth">{{CLEFT}}</td>
            <td><button value="{{CID}}" name="cid" style="width:100px;">수강신청</button></td>
          </tr>
          {{/each}}
        </table>        
        {{! 마지막 열에는 "수강신청" 이라는 버튼이 있어야 함 }}
        {{! 수강신청 버튼을 클릭하면 DB에 해당 결과가 반영되어야 함 }}
      </div>
    </div>
  </div>
</div>