{{#if isEmployee}}
{{!-- 직원이면에 해당하는 코드 --}}
{{else}}
{{!-- 학생이면에 해당하는 코드 --}}
{{/if}}

<h1> {{ title }}</h1>
<table>
    <tr>
        <td>STUID</td>
        <td>Sno</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Major</td>
        <td>Club ID</td>
    </tr>
    {{#each students}}
    <tr>
        <td>{{STUID}}</td>
        <td>{{SNO}}</td>
        <td>{{SNAME}}</td>
        <td>{{SEMAIL}}</td>
        <td>{{SPHNUM}}</td>
        <td>{{MAJOR}}</td>
        <td>{{CLUB_ID}}</td>
    </tr>
    {{/each}}
</table>
<h1>{{ title2 }}</h1>
<table>
    <tr>
        <td>Dno</td>
        <td>Dname</td>
        <td>Demail</td>
        <td>Dphnum</td>
        <td>D_Rno</td>
    </tr>
    {{#each department}}
    <tr>
        <td>{{DNO}}</td>
        <td>{{DNAME}}</td>
        <td>{{DEMAIL}}</td>
        <td>{{DPHNUM}}</td>
        <td>{{D_RNO}}</td>
    </tr>
    {{/each}}
</table>
<br>
<hr>
<h1>{{ title3 }}</h1>
<table>
    <tr>
        <td>Cid</td>
        <td>Cname</td>
        <td>Professor</td>
        <td>Numofptcs</td>
        <td>C_Dno</td>
        <td>C_Rno</td>
    </tr>
    {{#each classInfo}}
    <tr>
        <td>{{CID}}</td>
        <td>{{CNAME}}</td>
        <td>{{PROFESSOR}}</td>
        <td>{{NUMOFPTCS}}</td>
        <td>{{C_DNO}}</td>
        <td>{{C_RNO}}</td>
    </tr>
    {{/each}}
</table>
<br>
<hr>
<br>
<hr>
<h1>{{title4}}</h1>
<table>
    <tr>
        <td>Clid</td>
        <td>Clname</td>
        <td>Cl_Rno</td>
        <td>Cl_President</td>
    </tr>
    {{#each club}}
    <tr>
        <td>{{CLID}}</td>
        <td>{{CLNAME}}</td>
        <td>{{CL_RNO}}</td>
        <td>{{CL_PRESIDENT}}</td>
    </tr>
    {{/each}}
</table>