<h1>{{title}}</h1>

<table>
    <tr>
        <td>EMPID</td>
        <td>EPW</td>
        <td>EMPNAME</td>
        <td>EMPPOS</td>
        <td>DNAME</td>
    </tr>
    {{#each employee}}
    <tr>
        <td>{{EMPID}}</td>
        <td>{{EPW}}</td>
        <td>{{EMPNAME}}</td>
        <td>{{EMPPOS}}</td>
        <td>{{DNAME}}</td>
    </tr>
    {{/each}}
</table>