<h1>{{ title }}</h1>

<table>
    <tr>
        <td>STUID</td>
        <td>Sno</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Major</td>
        <td>Club Id</td>
    </tr>
    {{#each stu_res}}
    <form action="/update/students" method="post">
        <tr>
            <td><input type="text" name="stuid" value={{STUID}} readonly="readonly"></td>
            <td><input type="text" name="sno" placeholder={{SNO}}></td>
            <td><input type="text" name="sname" placeholder={{SNAME}}></td>
            <td><input type="email" name="semail" placeholder={{SEMAIL}}></td>
            <td><input type="text" name="sphnum" placeholder={{SPHNUM}}></td>
            <td><input type="text" name="smajor" placeholder={{MAJOR}}></td>
            <td><input type="text" name="sclubid" placeholder={{CLUB_ID}}></td>
            <td><input type="submit" value="수정"></td>
        </tr>
    </form>
    {{/each}}
</table>